h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}
body {
    font-family: 'JetBrains Mono', monospace;
}
body {
    background-color: #ffc107; /* Amarillo */
}

.table-container {
    background-color: #17a2b8; /* Turquesa */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
}

.table {
    background-color: #343a40; /* Gris oscuro */
    color: #fff; /* Texto blanco */
}

.table th {
    background-color: #6c757d; /* Gris medio */
}

.table {
    color: #333; /* Cambiar el color del texto a negro */
}

/* Estilos para las celdas de encabezado */
.table th {
    background-color: #f2f2f2; /* Color de fondo gris para las celdas de encabezado */
    color: #333; /* Cambiar el color del texto a negro */
}

/* Estilos para las celdas de datos */
.table td {
    background-color: #fff; /* Color de fondo blanco para las celdas de datos */
}