{% extends "layout.html" %}

{% block content %}
    <div class="container">
        <h2 class="text-center mt-5 mb-4"><strong>FlaskScrap</strong></h2>
        <div class="alert alert-info" role="alert">
            <h4 class="alert-heading">¡Bienvenido!</h4>
            <p>Para ver la tabla de posiciones, sigue estos pasos:</p>
            <ol>
                <li>Ejecuta el script de web scraping scrapy.py.</li>
                <li>Ejecuta la aplicación Flask con python app.py.</li>
                <li>Accede a la aplicación en tu navegador web:</li>
                <p><a href="http://localhost:5000">http://localhost:5000</a></p>
                <li>Verás la tabla de clasificación de la liga deportiva obtenida mediante web scraping.</li>
            </ol>
        </div>
        <div class="table-responsive">
            <table class="table table-dark table-striped">
                <thead>
                    <tr>
                        <th>Posición</th>
                        <th>Equipo</th>
                        <th>Puntos</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in data %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ row[1] }}</td>
                            <td>{{ row[2] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
